@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Montserrat", sans-serif;
}

.active {
    color: #9777FA;
}

.react-tabs__tab span {
    padding: 4px 13px;
    display: inline-block;
    border-radius: 5px;
}

.react-tabs__tab--selected span {
    background-color: #9777FA;
    color: white;
}
